@media print {
    .custom-titlebar {
        display: none !important;
    }
    .custom-titlebar-container {
        height: auto !important;
    }
}

.custom-titlebar-container {
    position: relative;
    height: calc(100vh - 30px);
    overflow: auto;
}

.custom-titlebar {
    //font-family: Segoe WPC, Segoe UI, sans-serif;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    position: relative;
    display: flex;
    flex-shrink: 0;

    width: 100%;
    padding-left: env(titlebar-area-x, 0);
    padding-right: calc(100vw - env(titlebar-area-width, 100vw));
    user-select: none;
    justify-content: left;
    align-items: center;
    overflow: visible;

    &:not(.tb-maximized) {
        .custom-titlebar-controls .tb-restore {
            display: none;
        }
    }

    &.tb-maximized {
        .custom-titlebar-controls .tb-maximize {
            display: none;
        }
    }

    &.tb-hide-menu.tb-darwin {
        .custom-titlebar-menubar {
            display: none;
        }
    }

    /* Drag disabled */
    &.tb-nodrag {
        .custom-titlebar-dragregion,
        .custom-titlebar-appicon {
            -webkit-app-region: no-drag;
        }
    }

    /* Inactive window */
    &.tb-inactive {
        .custom-titlebar-title,
        .custom-titlebar-menubar .tb-button:not(:hover) .tb-title,
        .custom-titlebar-menubar .tb-button:not(:hover) .tb-accelerator {
            opacity: 0.3;
        }

        .custom-titlebar-dragregion {
            background: rgba(255, 255, 255, 0.17);
        }
    }

    /* Dark skin */
    &.tb-dark {
        color: rgb(255, 255, 255);

        .custom-titlebar-menubar .tb-button {
            &:hover,
            &.tb-active {
                background-color: rgba(255, 255, 255, 0.1);
            }

            .custom-titlebar-submenu {
                background-color: #252526;

                .tb-button.tb-separator {
                    background-color: #fff;
                }
            }
        }

        .tb-button svg > * {
            fill: rgb(255, 255, 255);
        }
    }

    /* Windows style */
    &.tb-win {
        &.tb-inactive {
            .tb-button:not(:hover):not(.tb-disabled) svg {
                opacity: 0.3;
            }
        }

        &:not(.tb-dark) {
            .tb-close:hover svg > * {
                fill: rgb(255, 255, 255);
            }
        }

        &.tb-dark .custom-titlebar-controls .tb-button {
            &:hover {
                background-color: hsla(0, 0%, 100%, 0.1);
            }

            &:active {
                background-color: hsla(0, 0%, 100%, 0.2);
            }
        }

        .custom-titlebar-controls {
            &.tb-close-only {
                .tb-minimize,
                .tb-maximize {
                    display: none;
                }

                .tb-close {
                    width: 30px;
                }
            }

            .tb-button {
                width: 46px;

                &:hover {
                    background-color: hsla(0, 0%, 0%, 0.1);
                }

                &.tb-close:hover {
                    background-color: rgba(232, 17, 35, 0.9);
                }

                &:active {
                    background-color: hsla(0, 0%, 0%, 0.2);
                }

                &.tb-disabled {
                    opacity: 0.2;
                }

                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    /* macOS style */
    &.tb-darwin {
        &.tb-inactive {
            .custom-titlebar-controls:not(:hover) .tb-button::before {
                background: #ddd !important;
            }
        }

        .custom-titlebar-controls {
            order: -1;
            flex-direction: row-reverse;
            margin: 0 8px;

            &:not(:hover) {
                .tb-button svg {
                    display: none;
                }
            }

            .tb-button {
                width: 20px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 10px;
                    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
                }

                &:active::before {
                    filter: brightness(80%);
                }

                &.tb-minimize::before {
                    background: #fdbc40;
                }

                &.tb-maximize,
                &.tb-restore {
                    order: -1;

                    &::before {
                        background: #33c748;
                    }
                }

                &.tb-close::before {
                    background: #fc5753;
                }

                &.tb-disabled {
                    &::before {
                        background: #cfcfcf !important;
                    }

                    svg {
                        display: none;
                    }
                }

                svg {
                    width: 10px;
                    height: 10px;
                    opacity: 0.6;

                    & > * {
                        fill: rgb(0, 0, 0);
                    }
                }
            }
        }
    }

    .tb-button {
        svg {
            //margin: 10px 0px;
            margin: 0 5px;

            /* 스킨
            & > * {
              fill: rgb(0, 0, 0);
            }
            */
        }
    }
}

.custom-titlebar-dragregion {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

.custom-titlebar-appicon {
    display: none;
    min-width: 20px;
    min-height: 20px;
    position: relative;
    z-index: 3000;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    -webkit-app-region: drag;
    vertical-align: top;
}

@mixin tb-item() {
    .tb-arrow,
    .tb-check,
    .tb-accelerator,
    &.tb-separator {
        display: none;
    }

    &.tb-disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    .tb-icon {
        position: absolute;
        left: 6px;
        object-fit: contain;
        min-height: 16px;
        min-width: 16px;
        margin: 0 5px;
    }
}

.custom-titlebar-menubar {
    //width: fit-content;
    height: 100%;
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    z-index: 2500;

    .tb-button {
        display: flex;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        //padding: 0 8px;
        cursor: default;
        -webkit-app-region: no-drag;
        zoom: 1;
        white-space: nowrap;
        outline: 0;

        /*
        //스킨
        &:hover,
        &.tb-active {
          background-color: rgba(0, 0, 0, 0.1);
        }
        */

        @include tb-item();
    }
}

.custom-titlebar-title {
    flex: 0 1 auto;
    //font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

    &.tb-left {
        margin-left: 8px;
    }

    &.tb-right {
        margin-right: 8px;
    }
}

.custom-titlebar-controls {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 100%;

    .tb-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        line-height: 30px;
        height: 100%;

        &.tb-disabled {
            pointer-events: none;
        }
    }
}

.custom-titlebar-submenu {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    left: 0;
    opacity: 1;
    z-index: 2000;
    padding: 8px 0;
    max-height: calc(100vh - 30px);
    box-sizing: border-box;

    //스킨
    //background-color: #dadada;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    .tb-button {

        @include tb-item();
        &:not(.tb-separator) {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            position: relative;
            padding: 0px 28px;
            margin: 1px 0px;
            height: 23px;
            line-height: 23px;
        }

        .tb-accelerator,
        .tb-title {
            display: inline-block;
        }

        .tb-title {
            padding-right: 36px;
            margin-right: auto;
            margin-left: 10px;
        }

        .tb-arrow {
            position: absolute;
            display: block;
            right: 8px;
        }

        .tb-check {
            position: absolute;
            display: block;
            left: 8px;
        }

        &.tb-separator {
            //display: block;
            //padding: 8px 10px;
            //height: 1px;
            flex: 1;
            height: 100%;
            display: flex;

            //스킨
            //pointer-events: none;
            //background-color: #000;
            //opacity: 0.3;
            opacity: 1;

            .tb-title {
                padding-right: 36px;
                margin-right: auto;
            }

            .tb-separator-line {
                display: block;
                //margin: 8px 10px;
                height: 1px;
                width: 100%;
            }
        }

        // label이 지정된 separator 라인
        &.group {
            //pointer-events: none;
            padding: 0;
            //margin-top: 5px;

            /*
            .tb-separator {
              padding: 0;
            }
            .tb-separator:first-child {
              padding-left: 10px;
            }
            .tb-separator:last-child {
              padding-right: 10px;
            }
            */

            .tb-title {
                padding: 0 10px;
                margin: 0;
            }
        }

    }

    .custom-titlebar-submenu {
        left: unset;
        right: 0px;
        transform: translateX(100%);
        top: -9px;
        bottom: auto;
    }
}